<nav>
    <div class="site-title">
      <a href="/index"><h1>PAYMENTS APPLICATION</h1></a>
      <p>A Payments methods site</p>
    </div>
    <ul>
      <li><a id="cashOption" href="/cashform">Cash</a></li>
      <!--<li><a id="pseOption" href="/pseform">PSE</a></li>
      <li><a id="ccOption" href="/ccform">Credit card</a></li>-->
    </ul>
  </nav>