<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payments Application</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <nav>
            <div class="site-title">
                <a href="/index"><h1>PAYMENTS APPLICATION</h1></a>
                <p>A Payments methods site</p>
            </div>
            <div class="site-options">
              <ul>
                  <li><a id="cashOption" href="/cashform">CASH</a></li>
                  <li><a id="pseOption" href="/pseform">PSE</a></li>
                  <li><a id="ccOption" href="/ccform">CREDIT CARD</a></li>
              </ul>
          </div>
        </nav>
        <!-- Aquí va tu contenido importado -->
    </div>
</body>
</html>