<nav>
    <div class="site-title">
      <a href="/index"><h1>PAYMENTS APPLICATION</h1></a>
      <p>A Payments methods site</p>
    </div>
    <ul>
      <li><a id="cashOption" href="/cashform"> <i class="fas fa-money-bill"></i>Cash</a></li>
      <li><a id="pseOption" href="/pseform"><i class="fas fa-credit-card"></i> PSE</a></li>
      <!--<li><a id="ccOption" href="/ccform"><i class="fas fa-credit-card"></i> Credit card</a></li>-->
    </ul>
</nav>