<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash Payments</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f3f3f3;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .details-content {
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .button {
            background-color: #55c57a;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 8px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .button:hover {
            background-color: #3da25e;
        }
    </style>
</head>
<body>
    <div class="details-content">
        <table id="table-cash-payments">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Amount</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <% if (cashPayments.results.length > 0) { %>
                    <% cashPayments.results.forEach(cashPayment => { %>
                        <tr>
                            <td><%= cashPayment._id %></td>
                            <td><%= cashPayment.cashuserEmail %></td>
                            <td>$ <%= cashPayment.cashamount %></td>
                            <td>
                                <form action="/details/cashdetail/<%= cashPayment._id %>">
                                    <button class="button" type="submit">Print</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                <% } else { %>
                    <tr>
                        <td colspan="4">There are no cash payments to display...</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>
