@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

/* Estilos generales */
html {
  display: table;
  margin: auto;
  background-color: #f2f7fd; /* Fondo azul claro */
}

body {
  max-width: 80%;
  margin: 20px auto;
  padding: 0 20px;
  font-family: 'Noto Serif', serif;
  display: table-cell;
}

p,
h1,
h2,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

/* nav & footer styles */
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav li {
  list-style-type: none;
  margin-left: 20px;
}

nav p,
nav a {
  color: #666; /* Tono de azul claro para el texto del menú */
  font-weight: 500; /* Hacer el texto un poco más grueso */
}

footer {
  color: #777;
  text-align: center;
  margin: 80px auto 20px;
}

h2 {
  margin-bottom: 40px;
}

.content {
  margin-left: 20px;
}

/* Botones */
button {
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  background-color: #1e88e5; /* Tono de azul más oscuro para botones */
  color: #fff; 
  cursor: pointer; 
  transition: background-color 0.3s ease; /* Efecto de transición */
}

button:hover {
  background-color: #0d47a1; /* Tono de azul más oscuro al pasar el cursor */
}

/* Acordeón */
.accordion {
  background-color: #f0f7ff; /* Fondo del acordeón */
  color: #444; /* Texto más oscuro para mayor contraste */
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 0.3s ease; /* Efecto de transición */
}

.active,
.accordion:hover {
  background-color: #d4e6ff; /* Color de fondo más claro al pasar el cursor */
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-style: dotted;
  border: 1px solid rgb(193, 191, 191);
  border-radius: 5px;
}

.details-content {
  background-color: white;
  border-style: dotted;
  border: 1px solid rgb(193, 191, 191);
  border-radius: 10px;
}

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

/* Campos de entrada */
::placeholder {
  text-transform: none;
  color: #ccc; /* Color de texto gris para los campos de entrada */
}

input[type=text], 
input[type=date],
input[type=password],
input[type=number],
input[type=email],
select {
  width: 100%;
  padding: 12px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f0f7ff; /* Fondo azul claro para los campos */
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Efecto de transición */
}

input[type=text]:focus, 
input[type=date]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=email]:focus,
select:focus {
  background-color: #d4e6ff; /* Color de fondo más claro cuando está enfocado */
  outline: none;
}

.required:after {
  content:" *";
  color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
