html {
  display: table;
  margin: auto;
}

/* Cambios de color */
body {
  max-width: 80%;
  margin: 20px auto;
  padding: 0 20px;
  font-family: 'Noto Serif', serif;
  display: table-cell;
  background-color: #dbe4f7; /* Nuevo color de fondo */
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  width: 100%;
  border-bottom: 1px solid #b3c7e0; /* Nuevo color de borde */
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav li {
  list-style-type: none;
  margin-left: 20px;
}

nav a,
nav p {
  color: #4a90e2; /* Nuevo color de texto */
  font-weight: 800;
}

button {
  background-color: #4a90e2; /* Nuevo color de fondo del botón */
  border: 1px solid #4a90e2; /* Nuevo color de borde del botón */
}

button:hover {
  background-color: #357dbf; /* Nuevo color de fondo al pasar el cursor */
}

input[type=text],
input[type=date],
input[type=password],
input[type=number],
input[type=email],
select {
  background: #dbeaff; /* Nuevo color de fondo para campos de entrada */
  border: 1px solid #4a90e2; /* Nuevo color de borde para campos de entrada */
}

input[type=text]:focus,
input[type=date]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=email]:focus,
select:focus {
  background-color: #c4e1ff; /* Nuevo color de fondo al enfocarse en campos de entrada */
}

/* Otros ajustes */
.accordion {
  background-color: #dbeaff; /* Nuevo color de fondo para acordeones */
  color: #737373;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

.active,
.accordion:hover {
  background-color: #b3c7e0; /* Nuevo color de fondo para acordeones activos o al pasar el cursor */
}

.panel {
  padding: 0 18px;
  background-color: #f2f6ff; /* Nuevo color de fondo para paneles */
  border: 1px solid #b3c7e0; /* Nuevo color de borde para paneles */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-style: dotted;
  border-radius: 5px;
}

.details-content {
  background-color: #f2f6ff; /* Nuevo color de fondo para contenido detallado */
  border-style: dotted;
  border: 1px solid rgb(193, 191, 191);
  border-radius: 10px;
}

/* Otros estilos */
button,
input[type=submit] {
  padding: 12px 24px; /* Ajuste de espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  color: white; /* Color de texto */
  cursor: pointer; /* Cursor de puntero */
}

button:hover,
input[type=submit]:hover {
  background-color: #357dbf; /* Nuevo color de fondo al pasar el cursor */
}

footer {
  color: #777;
  text-align: center;
  margin: 80px auto 20px;
}

h2 {
  margin-bottom: 40px;
}

h1 {
  font-weight: 800; /* Ajusta el peso de la fuente según sea necesario */
}

.content {
  margin-left: 20px;
}

#alignment {
  margin-left: auto;
  margin-right: auto;
}

::placeholder {
  text-transform: none;
  color: rgb(209, 206, 206);
}

select, input[type=text], input[type=date], input[type=password], input[type=number], input[type=email] {
  width: 100%;
  padding: 12px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  border-radius: 5px;
}

.required:after {
  content:" *";
  color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.site-title h1 {
  width: 100%;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-left: 30%;
  font-size: 36px;
  font-family: 'Arial', sans-serif;
  color: #357dbf;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
